# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Node modules
node_modules/

# ZK circuit
eoa_auth_cpp/
eoa_auth_js/

eoa_auth.r1cs
eoa_auth.sym

# Others
.DS_Store